@import 'typo';

.cvbuilder {
	.cvbuilder-block-title,
	.cvbuilder-block-subtitle{
		margin: 0;
	}

	.cvbuilder-view,
	.cvbuilder-form {
		border: 1px solid #999;
		margin: 20px 0;
		padding: 20px;

		.row {
			margin-bottom: 10px;
		}
	}

	.cvbuilder-form {
		background: #ebebeb;
	}

	.cvbuilder-white-box {
		background: white;
		padding: 20px;
	}

	.validationElement, select.input-block-level.validationElement:focus {
		border-color: red;
	}

	.validationMessage {
		color: red;
	}
}

label[for=isCanBeInterviewed] {
	margin-top: 0;
	display: inline-block;
	line-height: 1;
	margin-bottom: 0;
}

input[type=checkbox] {
	margin-top: 0;
}

label[for=isCanBeInterviewed], input[type=checkbox] {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}

.company-autocomplete-right {
	display: inline-block;
	vertical-align: middle;
}

.company-autocomplete-left {
	@extend .company-autocomplete-right;
	width: 95px;
	text-align: center;
	margin-right: 20px;
}

img.company-logo-autocomplete {
	vertical-align: middle;
}

.footer-blocks {
	font-size: 14px;
	.block-container > div > div {
		border: 1px #ccc solid;
		border-radius: 3px;
		border-radius: 3px;
		margin: 10px;
		padding: 10px;
		cursor: pointer;
	}
}

