@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic,cyrillic-ext);
@import url('//use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css');

/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'FontAwesome';
	src: url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot');
	src: url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Variables

$buttonColor: #b70004;

input::-webkit-input-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}
input::-moz-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}
input:-ms-input-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}
input:-moz-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}

.fa-pencil {
	color: #7e7e7e;;
}

.fa-calendar {
	@extend .fa-pencil;
	margin: 0 7px 0 5px;
}


.rua-p-c-light {
	color: #7e7e7e;
}

.cvbuilder {
	&, h1, h2, h3 {
		font-family: 'Roboto', sans-serif;
	}

	.edit {
		font-size: 12px;
		margin-left: 7px;
	}

	.cvbuilder-view {
		.cvbuilder-block-title {
			margin-bottom: 25px;
		}
	}

	.cvbuilder-form {
		.personal-name {
			font-size: 16px;
		}

		.personal-photo-hint {
			margin-top: 17px;
			padding: 20px 20px 17px 20px;
			background-color: #eee;
			font-size: 13px;
			p:first-child {
				opacity: .7;
			}
			p:last-child {
				margin: 0;
			}
		}

	}

	.cvbuilder-block-title {
		margin: 0;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.3;
	}
	.rubric-tooltip {
		display: inline-block;
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: 300;
	}

	.view-label {
		display: inline-block;
		margin: 5px 0;
		&:first-child {
			margin-top: 0;
		}
	}

	.view-input-value {
		padding-left: 100px;
	}

	.cvbuilder-view.personal {
		.cvbuilder-block-title {
			font-weight: 300;
		}

		.media > .pull-left {
			margin-right: 28px;
		}
	}

	.cvbuilder-block-subtitle {
		margin: 0;
	}

	.cvbuilder-view,
	.cvbuilder-form {
		border-top: 1px solid #eee;
		padding: 20px;

		&.personal {
			border-top: none;
		}
	}

	.cvbuilder-form {
		background: #f7f7f7;
	}

	.cvbuilder-white-box {
		background: white;
		padding: 20px;
	}

	.validationElement, select.input-block-level.validationElement:focus {
		border-color: red;
	}

	.validationMessage {
		color: red;
	}

	.cvbuilder-white-box {
		padding: 21px;
	}

	.block-container > div {
		width: 40%;
		float: left;
		font-size: 14px;
		border: 1px #ccc solid;
		border-radius: 3px;
		margin: 10px;
		padding: 10px;
		cursor: pointer;
	}

	.sidebar .block-container > div {
		border: none;
	}

	.sidebar .block-container > div {
		float: none;
		width: initial;
		& > div:last-child {
			margin-top: 2px;
		}
	}

	.btn-file {
		position: relative;

		& > input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}

	.add-button {
		border: none;
		background: none;
		color: rgba(183, 0, 4, .5);
		font-size: 14px;
		margin-bottom: 30px;
	}

	.add-phone-button {
		@extend .add-button;
		margin-bottom: 15px;
		margin-top: -5px;
	}


	.btn-danger, .btn-primary {
		border-radius: 2px;
		padding: 15px 15px 13px 15px;
		background-color: $buttonColor;
		color: #fff;
		font-size: 13px;
		margin-right: 30px;
	}

	.btn-link {
		text-decoration: underline;
	}

	.cancel {
		font-size: 13px;
		cursor: pointer;
	}


	.socialnetwork {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
		text-align: center;
		background-color: #d9d9d9;
		border-radius: 2px;
		color: #fff;
		margin-bottom: 30px;
		&:not(:first-child) {
			margin-left: 10px;
		}

		&.socialnetwork-active {
			background-color: #fff;
			color: #aaa;
			border: 1px solid #aaa;
		}
	}

	.socialnetwork-view {
		@extend .socialnetwork;
		background-color: #fff;
		border: none;
		color: #aaa;
		&:not(:first-child) {
			margin-left: 0;
		}
	}
	.personal {

	}

	.add-block-button {
		@extend .add-button;
		height: 36px;
		line-height: 36px;
		border: 1px solid #d8d8d8;
		border-radius: 2px;
		padding: 0 12px;
		margin-top: 20px;

		span:first-of-type {
			margin: 0 10px;
		}

		span:last-of-type {
			color: $buttonColor;
		}

	}

	.mac-tinylight {
		margin-bottom: 20px;
	}

	.footer-blocks {
		.list-2-cols > li {
			padding-left: 5px;
		}

		.list-2-cols>li:nth-child(2n+1) {
			padding-right: 5px;
		}

		& > div:first-child {
			margin-bottom: 27px;
		}

	}

	.footer-block {
		text-align: left;
		font-size: 14px;
		margin: 8px 0;
		padding: 16px;
		i {
			color:  rgba(183, 0, 4, .5);
			font-size: 20px;
			margin-right: 14px;
			vertical-align: middle;
		}
	}

	.footer-block.additional {
		& > div:first-child span {
			opacity: .7;
			margin-right: 65px;
			vertical-align: middle;
		}
		& > div:last-child {
			margin-top: 6px;
			padding-left: 30px;
		}
	}

	.footer-block:not(.additional) {

		& > div:first-child {
			& > span:last-of-type {
				color: $buttonColor;
				font-size: 16px;
				float: right;
				vertical-align: middle;
				span {
					opacity: 1;
				}
			}
			& > span:first-of-type {
				opacity: .7;
				margin-right: 65px;
				vertical-align: middle;
			}

		}
		& > div:last-child {
			margin-top: 6px;
			padding-left: 30px;
		}
	}
;

	.recommendation-block {
		background-color: #eee;
	}

	.remove-button {
		height: 37px;
		line-height: 37px;
	}
}

.company-autocomplete-right,
.company-autocomplete-left,
img.company-logo-autocomplete {
	display: inline-block;
	vertical-align: middle;
}

.company-autocomplete-left {
	width: 95px;
	text-align: center;
	margin-right: 20px;
}
