//@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic,cyrillic-ext);

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	src: url('https://css.rabota.com.ua/fonts/Roboto-300/Roboto-300.eot');
	src: url('https://css.rabota.com.ua/fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'), local('Roboto Light'), local('Roboto-300'), url('https://css.rabota.com.ua/fonts/Roboto-300/Roboto-300.woff2') format('woff2'), url('https://css.rabota.com.ua/fonts/Roboto-300/Roboto-300.woff') format('woff'), url('https://css.rabota.com.ua/fonts/Roboto-300/Roboto-300.ttf') format('truetype'), url('https://css.rabota.com.ua/fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@import url('//use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css');

/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'FontAwesome';
	src: url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot');
	src: url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Variables

$buttonColor: #b70004;
$ruaPcLight: #7e7e7e;

span, div {
	word-wrap: break-word;
}

input::-webkit-input-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}

input::-moz-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}

input:-ms-input-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}

input:-moz-placeholder {
	@extend .rua-p-c-light;
	opacity: .7;
}

input[type=checkbox], input[type=radio] {
	margin-top: 0;
}

.fa-pencil {
	color: #7e7e7e;;
}

.fa-calendar {
	@extend .fa-pencil;
	margin: 0 7px 0 5px;
}

.rua-p-c-light {
	color: #7e7e7e;
}

.cvbuilder {
	&, h1, h2, h3 {
		font-family: 'Roboto', sans-serif;
	}

	.btn.btn-danger.disabled {
		opacity: .7;
		cursor: not-allowed;
		pointer-events: none;
		color: #7e7e7e;
		border-color: #7e7e7e;
	}

	.edit {
		font-size: 12px;
		margin-left: 7px;
	}

	.cvbuilder-view {
		position: relative;
		.cvbuilder-block-title {
			margin-bottom: 25px;
		}
	}

	.cvbuilder-form {
		.personal-name {
			font-size: 16px;
		}

		.personal-photo-hint {
			margin-top: 17px;
			padding: 20px 20px 17px 20px;
			background-color: #eee;
			font-size: 13px;
			p:first-child {
				opacity: .7;
			}
			p:last-child {
				margin: 0;
			}
		}

	}

	.cvbuilder-block-title {
		margin: 0;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.3;
	}
	.rubric-tooltip {
		display: inline-block;
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: 300;
	}

	.view-label {
		display: inline-block;
		margin: 5px 0;
		&:first-child {
			margin-top: 0;
		}
	}

	.view-input-value {
		padding-left: 100px;
	}

	.cvbuilder-view.personal {
		.cvbuilder-block-title {
			font-weight: 300;
		}

		.media > .pull-left {
			margin-right: 28px;
		}
	}

	.cvbuilder-block-subtitle {
		margin: 0;
	}

	.cvbuilder-view,
	.cvbuilder-form {
		border-top: 1px solid #eee;
		padding: 20px;

		&.personal {
			border-top: none;
		}
	}

	.cvbuilder-form {
		background: #f7f7f7;
	}

	.cvbuilder-white-box {
		background: white;
		padding: 20px;
	}

	.validationElement, select.input-block-level.validationElement:focus {
		border-color: #ffa000;
		background-color: #ffd54f;
	}

	.validationElement:hover, .validationElement:focus {
		border-color: #ffa000 !important;
	}

	.validationMessage {
		color: #ffa000;
		display: block;
		margin-bottom: 10px;
	}

	.cvbuilder-white-box {
		padding: 21px;
	}

	.block-container > div {
		width: 40%;
		float: left;
		font-size: 14px;
		border: 1px #ccc solid;
		border-radius: 3px;
		margin: 10px;
		padding: 10px;
		cursor: pointer;
	}

	.sidebar .block-container > div {
		border: none;
	}

	.sidebar .block-container > div {
		float: none;
		width: initial;
		& > div:last-child {
			margin-top: 2px;
		}
	}

	.btn-file {
		position: relative;

		& > input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}

	.add-button {
		border: none;
		background: none;
		color: rgba(183, 0, 4, .5);
		font-size: 14px;
		margin-bottom: 30px;
	}

	.add-phone-button {
		@extend .add-button;
		margin-bottom: 15px;
		margin-top: -5px;
	}

	.btn-link {
		text-decoration: underline;
	}

	.cancel {
		font-size: 13px;
		cursor: pointer;
		margin-left: 20px;
	}

	.socialnetwork {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
		text-align: center;
		background-color: #d9d9d9;
		border-radius: 2px;
		color: #fff;
		margin-bottom: 30px;
		&:not(:first-child) {
			margin-left: 10px;
		}

		&.socialnetwork-active {
			background-color: #fff;
			color: #aaa;
			border: 1px solid #aaa;
		}
	}

	.socialnetwork-view {
		@extend .socialnetwork;
		background-color: #fff;
		border: none;
		color: #aaa;
		&:not(:first-child) {
			margin-left: 0;
		}
	}

	.add-block-button {
		@extend .add-button;
		height: 36px;
		line-height: 36px;
		border: 1px solid #d8d8d8;
		border-radius: 2px;
		padding: 0 12px;
		margin-top: 20px;

		span:first-of-type {
			margin: 0 10px;
		}

		span:last-of-type {
			color: $buttonColor;
		}

	}

	.mac-tinylight {
		margin-bottom: 20px;
	}

	.footer-blocks {
		.list-2-cols > li {
			padding-left: 5px;
		}

		.list-2-cols > li:nth-child(2n+1) {
			padding-right: 5px;
		}

		& > div:first-child {
			margin-bottom: 27px;
		}

	}

	.footer-block {
		text-align: left;
		font-size: 14px;
		margin: 8px 0;
		padding: 16px;
		i {
			color: rgba(183, 0, 4, .5);
			font-size: 20px;
			margin-right: 14px;
			vertical-align: middle;
		}
	}

	.footer-block.additional {
		& > div:first-child span {
			opacity: .7;
			margin-right: 65px;
			vertical-align: middle;
		}
		& > div:last-child {
			margin-top: 6px;
			padding-left: 30px;
		}
	}

	.footer-block:not(.additional) {

		& > div:first-child {
			& > span:last-of-type {
				color: $buttonColor;
				font-size: 16px;
				float: right;
				vertical-align: middle;
				span {
					opacity: 1;
				}
			}
			& > span:first-of-type {
				opacity: .7;
				margin-right: 65px;
				vertical-align: middle;
			}

		}
		& > div:last-child {
			margin-top: 6px;
			padding-left: 30px;
		}
	}

	.recommendation-block {
		background-color: #eee;
	}

	.recommendation-list {
		margin-top: 20px;
	}

	.remove-button {
		height: 37px;
		line-height: 37px;
	}

	.skill-hint {
		background-color: #f9f9f9;
		padding: 20px;
		font-size: 13px;
	}

	div:not(.col) > .cvbuilder-block-title {
		padding-left: 20px;
	}

	.cvbuilder-form > .cvbuilder-block-title {
		padding-left: 0 !important;
	}

	.footer-blocks-header {
		padding-left: 20px;
	}

	.resume-tooltip {
		font-size: 12px;
	}

	.percent {
		h3 {
			font-size: 16px;
			line-height: 1.5;
			a {
				border-bottom: 1px dashed $ruaPcLight;
				&:hover {
					text-decoration: none;
					cursor: pointer;
				}

			}
		}

		.percent-active {
			font-weight: bold;
		}
		.percent-block {
			width: 44px;
			height: 150px;
			position: relative;
			background-color: #f5f5f5;
			margin: 22px 0 0 37px;
			border-radius: 2px;
			hr {
				border: none;
				border-bottom: .5px solid #fff;
				margin: 0;
				position: absolute;
				width: 100%;
				z-index: 2;
				&:first-child {
					top: 16.5%;
				}
				&:nth-child(2) {
					top: 49.5%;
				}
				&:nth-child(3) {
					top: 83.5%;
				}
			}
			.percent-tooltip {
				width: 150px;
				position: absolute;
				left: calc(100% + 20px);
				&:first-of-type {
					top: 76%;
				}
				&:nth-of-type(2) {
					top: 42%;
				}
				&:nth-of-type(3) {
					top: 9%;
				}
			}
			.percent-fill {
				width: 100%;
				position: absolute;
				background-color: #dcedc8;
				bottom: 0;
			}
			.percent-indicator {
				height: 31px;
				position: absolute;
				right: calc(100% + 5px);
				text-align: right;
				line-height: 1;
				span {
					font-size: 18px;
				}
			}
		}
	}

	.message-container {
		position: absolute;
		bottom: 20px;
		left: calc(100% + 40px);
		z-index: 999;
	}

	.alert-message {
		min-width: 400px;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		background-color: #dcedc8;
		border: 2px solid #9ccc65;
		border-radius: 2px;
		box-shadow: 0 2px 4px 0 rgba(126, 126, 126, .5);
		&::after {
			content: '';
			display: table;
			clear: both;
		}
		.checkmark {
			width: 50px;
			height: 100%;
			float: left;
			margin-right: 10px;
			background-color: #9ccc65;
			line-height: 50px;
			text-align: center;
			i {
				font-size: 35px;
				color: #fff;
				vertical-align: middle;
			}
		}
		& > i {
			font-size: 25px;
			position: absolute;
			right: 13px;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}

	input:focus ~ .input-tooltip, select:focus ~ .input-tooltip {
		display: block;
	}

	.tooltip-container {
		position: relative;
		.input-tooltip {
			width: 345px;
			display: none;
			box-sizing: border-box;
			padding: 20px;
			position: absolute;
			left: calc(100% + 61px);
			top: 0;
			background-color: #dcedc8;
			border-radius: 2px;
			z-index: 50;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 100%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 20px 20px 20px 0;
				border-color: transparent #dcedc8 transparent transparent;
			}
		}
	}

	.add-photo {
		width: 112px;
		box-sizing: border-box;
		background-color: #e2e2e2;
		cursor: pointer;
		padding: 6px 13px 7px 9px;
		font-size: 12px;
		text-align: center;
	}

	.activity-level-popup {
		z-index: 500;
		position: absolute;
		right: 0;
		top: 100%;
		background: white;
		width: 400px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);

		.active {
			background-color: #f7f7f7;
		}

		.anonymous {
			border: 1px solid #ccc;
			border-left: none;
			border-right: none;
		}

		.t > .m,
		.t > .f {
			padding: 10px;
		}

		.t > .m:first-child {
			padding-left: 20px;
		}

		.t > .m:last-child {
			padding-right: 20px;
		}
	}

	.actions {
		margin: 15px 0;
		padding-left: 45px;
		a {
			text-decoration: none;
			span {
				color: #545353;
			}
		}
		i {
			margin-right: 15px;
		}

		.actions-container {
			ul {
				li {
					list-style: none;
					&:not(:last-of-type) {
						margin-bottom: 20px;
					}
				}
				margin: 0;
			}
			h5 {
				&:nth-of-type(2) {
					cursor: pointer;
					span {
						border-bottom: 1px dashed currentColor;
						margin-right: 5px;
					}
				}
			}
			.show-all {
				margin-top: 20px;
			}

		}

		.ui-autocomplete .ui-menu-item a.autocomplete-company {
			display: flex;
			align-items: center;
			min-height: 55px;

			span {
				display: flex;
				flex-direction: column;
			}

			img {
				width: auto;
				height: auto;
				max-width: none;
			}

			& > span:first-child {
				align-self: stretch;
				width: 95px;
				text-align: center;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}

			& > span:last-child {
				padding-left: 10px;
			}

			small {
				opacity: .8;
			}
		}

	}

	.language-toggler-label {
		font-weight: bold;
		margin-right: 20px;
		float: right;
		font-size: 13px;
	}
	.language-toggler {
		float: right;
		position: relative;
		margin-right: 50px;
		font-size: 13px;
		& > a span {
			border-bottom: 1px dashed currentColor;
		}
		.language-popup {
			position: absolute;
			background-color: #fff;
			box-shadow: 0 0 10px 0 rgba(120, 120, 120, .5);
			z-index: 333;
			& > div {
				position: relative;
				cursor: pointer;
				text-transform: lowercase;
				padding: 5px 50px 5px 5px;
				&:hover {
					background-color: #f7f7f7;
				}
			}

			top: -5px;
			a {
				text-decoration: none;

				.fa {
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					color: #71a544;
					font-size: 17px;
				}
			}
		}
		.language-popup:not(.active) {
			display: none;
		}
	}

	.state-toggler {
		display: inline-block;
		margin-left: 7px;
		position: relative;
		font-size: 12px;
		vertical-align: middle;
		.state-popup {
			z-index: 666;
			&:not(.active) {
				display: none;
			}
			position: absolute;
			background-color: #fff;
			box-shadow: 0 0 10px 0 rgba(120, 120, 120, .5);
			& > div {
				cursor: pointer;
				position: relative;
				padding: 5px 50px 5px 5px;
				min-width: 135px;
				&:hover {
					background-color: #f7f7f7;
				}
			}
			top: -5px;
			a {
				text-decoration: none;

				.fa {
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					color: #71a544;
					font-size: 17px;
				}
			}
		}

	}

	.level-toggler {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 295px;
		padding: 20px;
		box-sizing: border-box;
		cursor: pointer;
		border-left: 1px solid rgba(0, 0, 0, 0.12);
		.disabled {
			pointer-events: none;
			cursor: not-allowed;
			opacity: .4;
		}
		.logo-container {
			position: absolute;
			width: 38px;
			top: 0;
			right: 0;
			height: 100%;
			font-size: 28px;
			text-align: center;
			background-color: #c5e1a5;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: rgba(120, 120, 120, .5);
			}
		}
		& > span > span {
			font-size: 13px;
			small {
				font-size: 12px;
			}
		}
		.activity-level-popup {
			right: 0;
			z-index: 2000;
			&:not(.active) {
				display: none;
			}
			& > div {
				&:nth-child(-n + 4):hover {
					background-color: #f7f7f7;
					cursor: pointer;
				}
			}
			.f {
				span {
					font-size: 13px;
				}
				small {
					font-size: 12px;
				}
			}
		}

		.t.top input[type=checkbox] {
			cursor: pointer;
		}

		label[for=anon] {
			cursor: pointer;
		}
	}

	.greeting-popup {
		position: relative;
		background-color: #fafafa;
		padding: 0 50px 15px 120px;
		&.gray {
			p span:last-child {
				color: #c55d59;
				border-bottom: 1px dashed currentColor;
				cursor: pointer;
				margin-left: 5px;
			}
			.success-icon {
				background-color: #bdbdbd;
			}
		}
		box-shadow: 2px 5px 4px 0 rgba(120, 120, 120, .8);
		&::after {
			content: '';
			display: table;
			clear: both;
		}
		.success-icon {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 102px;
			box-sizing: border-box;
			padding: 0 20px;
			background-color: #9ccc65;
			text-align: center;
			color: #fff;
			margin-right: 22px;
			i {
				font-size: 47px;
				position: absolute;
				top: 50%;
				laeft: 50%;
				transform: translate(-50%,-50%);
			}
		}
		h1 {
			padding-top: 15px;
			box-sizing: border-box;
			margin: 0;
		}

		p {
			margin: 15px 0 0 0;
		}

		a {
			position: absolute;
			top: 7px;
			right: 7px;
			font-size: 40px;
			opacity: .6;
		}
	}

	.chosen-rubrics {
		margin-bottom: 10px;
		& > div {
			display: inline-block;
			position: relative;
			margin: 5px 5px 5px 0;
			padding: 5px 28px 5px 15px;
			background: #e1e1e1;
			border-radius: 3px;
			span:last-child {
				position: absolute;
				right: 5px;
				top: 5px;
				font-size: 28px;
				cursor: pointer;
				opacity: .8;
			}
		}
	}

}

.ui-autocomplete {
	z-index: 3000;
	.ui-menu-item a.autocomplete-company {

		display: flex;
		align-items: center;
		min-height: 55px;

		span {
			display: flex;
			flex-direction: column;
		}

		img {
			width: auto;
			height: auto;
			max-width: none;
		}

		& > span:first-child {
			align-self: stretch;
			width: 95px;
			text-align: center;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		& > span:last-child {
			padding-left: 10px;
		}

		small {
			opacity: .8;
		}
	}
}
header, .header, .header-inner {
	z-index: 5000;
}

@media print {
	.hidden-on-print, .sidebar, .btn, .edit, .fa, .footer-blocks, .add-block-button, footer {
		display: none;
	}
	.visible-on-print {
		width: 100%;
	}
}
