{
	"extends": "standard",
	"plugins": [
		"standard"
	],
	"env": {
		"browser": true,
		"jasmine": true
	},
	"globals": {
		"jQuery": false,
		"$": false,
		"ko": false
	},
	"rules": {
		"semi": [
			"error",
			"always"
		],
		"indent": [
			"error",
			"tab"
		],
		"no-undef": [0],
		"no-unused-vars": [0]
	}
}
